* {
    margin: 0px;
    padding: 0px;
    user-select: none;
    box-sizing: border-box;
    image-rendering: pixelated;
}

@font-face {
    font-weight: 400;
    font-family: "comfortaa";
    src: url("../fonts/comfortaa.ttf") format("truetype");
}
