@import "Base.view.less";

.Game {
    color: #FFF;
    font-weight: normal;
    font-family: tiny;
    
    &.isOver {
        .Scene {
            filter: blur(0.05em);

            transition-delay: 1s;
            transition-duration: 2s;
            transition-property: filter;
        }
    }
}
