@import "Base.view.less";

.World {
    .Tiles {
        .Tile {
            width: 1em;
            height: 1em;
            position: absolute;

            .Image {
                width: 1em;
                height: 1em;

                background-size: contain;
                background-image: center;
            }
        }
    }
}
